body {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
.col {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius:25px;
    margin: 5px;
    cursor: pointer;
}
.line {
    text-align: center;
    height: 45px;
}
.board {
    /* margin: 20px; */
}
.common {
    background: #ddd;
}
.p1 {
    background: #a00000;
}
.p2 {
    background: #1f01ca;
}
.chosen {
    border-color: #000;
}
.hovern {
    background: #667575;
}
.hoverjump {
    background: #f1d3a6;
}